<section>
    <!--Carrousel Inicio-->
    <div class="carrusel">
        <div class="slideItem active">
            <img src="../../../../assets/img/carrusel/quito.webp" alt="">
        </div>
        <div class="slideItem" *ngFor="let carrusel of dataCarrousel">
            <img src="{{carrusel.imagenUrl}}" alt="{{carrusel.nombre}}">
        </div>
    </div>
    <!--Carrousel Fin-->
</section>
<body>
    <br>
    <section>
        <!--Acerca de Nosotros-->
        <div class="container-fluid">
            <h1 class="text-center">Sobre Nosotros</h1>
        </div>
    </section>
    <section>
        <!--Acerca de Nosotros-->
        <div class="container-fluid">
            <div class="aboutBox">
                <div class="aboutItems text-center">
                    <img src="/assets/img/logos/logoSMG.webp" alt="">
                </div>
                <div class="aboutItems aboutItemsBackground2 text-center">
                    <h2>SMG CLOTHES</h2>
                    <p>
                        En <strong>SMG CLOTHES</strong> somos un equipo apasionado de profesionales comprometidos
                        con la excelencia y la innovación. Nos especializamos en la confección de prendas y trabajamos
                        incansablemente para ofrecer soluciones de alta calidad que superen las expectativas de nuestros
                        clientes.
                    </p>
                    <p>Con una trayectoria de 10 años en el mercado, nos hemos consolidado como líderes en
                        sector textil, destacándonos por nuestra dedicación al servicio, integridad y responsabilidad.
                    </p>
                    <p>Creemos en el poder de la colaboración y la mejora continua para impulsar el crecimiento y el
                        éxito de nuestros clientes y comunidades.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-separador-animado></app-separador-animado>
    <section>
        <div class="container-fluid">
            <h1 class="text-center">Contáctanos</h1>
        </div>
    </section>
    <section id="contactanos">
        <div class="container-fluid">
            <div class="aboutBox">
                <div class="aboutItems aboutItemsBackground2">
                    <!--<iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d705.2991647674355!2d-78.53978560817765!3d-0.26829685122855473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a23b90a90ea3%3A0xdd51f9a8349cbc39!2sLa%20Arcadia%2C%20Quito!5e0!3m2!1ses!2sec!4v1725419186664!5m2!1ses!2sec"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                    <img src="/assets/img/ilustraciones/contactanos.svg" alt="">
                </div>
                <div class="aboutItems">
                    <div class="container colotText">
                        <h4 class="text-center mb-3">Si deseas contactarnos, puedes hacerlo a través de WhatsApp.</h4>
                        <h6 class="mb-3">Mensaje</h6>
                        <textarea class="mb-3" name="" id="mensajeWhatsapp" #mensajeWhatsapp></textarea>
                        <button (click)="enviarMensaje()" class="btn btn-danger" >Enviar Mensaje</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
</body>