<!--Carrousel Inicio-->
<div class="carrusel">
    <div class="slideItem active">
        <img src="../../../../assets/img/carrusel/quito.webp" alt="">
    </div>
    <div class="slideItem" *ngFor="let carrusel of dataCarrousel">
        <img src="{{carrusel.imagenUrl}}" alt="{{carrusel.nombre}}">
    </div>
</div>
<!--Carrousel Fin-->
<body>
    <br>
    <app-separador-animado></app-separador-animado>
    <!--Smg Bienvenida-->
    <section id="inicio">
        <h1 class="text-center">SMG CLOTHES</h1>
        <div class="container">
            <div class="bienvenidaContainer">
                <div class="bienvenidaItems">
                    <img src="../../../../assets/img/logos/smgLogo2.png" alt="">
                </div>
                <div class="bienvenidaItems">
                    <div class="container">
                        <h3>¡Bienvenidos a SMG CLOTHES!</h3>
                        <p>Explora nuestra amplia variedad de productos disponibles, diseñados especialmente para ti. En
                            nuestra tienda, encontrarás todo lo que necesitas con la mejor calidad y al mejor precio.
                        </p>
                        <h5>¿Cómo hacer un pedido?</h5>
                        <p>Es muy fácil. Una vez que hayas encontrado el producto que deseas, simplemente haz clic en el
                            botón de WhatsApp para enviarnos un mensaje directamente. Te responderemos rápidamente para
                            confirmar tu pedido y coordinar los detalles.</p>
                        <h5>¡Gracias por visitarnos y felices compras!</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Mercaderia-->
    <app-separador-animado></app-separador-animado>
    <section id="mercaderia">
        <h1 class="text-center">Mercaderia</h1>
        <div class="container-fluid">
            <div class="containerBox">
                <div class="itemsBox text-center" *ngFor="let mercancia of displayedMercaderia">
                    <img src="{{mercancia.imagenUrl}}" alt="">
                    <p><strong>{{mercancia.nombre}}</strong></p>
                    <p><strong>Precio: </strong>$ {{mercancia.precio}}</p>
                    <a class="btn btn-primary" href="home/dashboard/detalles/{{mercancia.id}}">Más Detalles
                    </a>
                </div>
            </div>
        </div>
        <div class="container p-2 text-center">
            <button id="contactanos" class="btn btn-danger cargarMas" (click)="loadMoreMercaderiaData()">Cargar Más</button>
        </div>
    </section>
    <br>
    <app-separador-animado></app-separador-animado>
    <br>
</body>