
.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel {
    z-index: 1;
}

body {
    background: #FFFAE4;
}

h1 {
    color: #00223C;
    font-weight: bold;
}

.containerBox {
    display: flex;
    flex-wrap: wrap;
    background: #00335a;
    width: 100%;
}

.containerBox:hover {
    transition: opacity 0.6s ease-in-out;
}

.itemsBox {
    border-radius: 10px;
    background: #ffffff;
    width: calc(25% - 20px);
    margin: 10px;
    transition: 0.5s;
    border: 2px dashed #00223C;
}

.itemsBox:hover {
    background: #b8b8b8;
    transition: 0.5s;
}

.itemsBox img {
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
    transition: transform 0.4s ease;
}
.bienvenidaContainer{
    display: flex;
    width: 100%;
    background: #ffffff;
    margin-bottom: 10px;
}
.bienvenidaItems{
    display: grid;
    align-items: center;
    width: 50%;
}
.bienvenidaItems img{
    width: 100%;
    height: 450px;
}
.itemsBox img:hover {
    border: 2px dashed #00223C;
    transform: scale(0.9);
    transition: transform 0.4s ease;
}

.itemsBox a {
    font-weight: bold;
    background: #00223C;
    border: none;
    margin: 10px;
    transition: 0.5s;
}

.itemsBox a:hover {
    transform: scale(1.1);
    background: #00223C;
    /* ejex ejey borrosidad alcance color*/
    box-shadow: 0px 0px 30px 0px #00335a;
    transition: 0.5s;
}

@media(max-width:750px) {
    .itemsBox {
        background: #ffffff;
        width: calc(50% - 20px);
        margin: 10px;
    }

    .carousel-inner img {
        height: 400px;
    }
    .bienvenidaContainer{
        display: grid;
    }
    .bienvenidaItems{
        display: grid;
        text-align: center;
        width: 100%;
    }
    .bienvenidaItems img{
        width: 100%;
    }
}

@media(max-width:550px) {
    .containerBox {
        display: grid;
    }
    .itemsBox {
        background: #ffffff;
        width: calc(100% - 20px);
        margin: 10px;
    }
    .carousel-inner img{
        height: 300px;
    }
    .bienvenidaItems img{
        display: none;
    }
}