<body>
    <br>
    <h1 class="text-center">{{hombre.nombre}}</h1>
    <div class="detallesBox" *ngIf="hombre">
        <div class="itemContainer">
            <img src="{{hombre.imagenUrl}}" alt="">
        </div>
        <div class="itemContainer">
            <p><Strong>Detalles: </Strong> {{hombre.detallesCorto}}</p>
            <p><strong>Tallas: </strong> Talla S, Talla P, Talla M, Talla L, Talla XL, Talla EG</p>
            <p><Strong>Precio: </Strong> {{hombre.precio}} $</p>
            <div class="buttonsContainer">
                <button class="btn btn-danger buttonStyle">Cancelar <i class="fa-solid fa-ban"></i></button>
                <button class="btn btn-success buttonStyle">Añadir al Carrito <i class="fa-solid fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
</body>