<div class="separadorBox">
    <div class="scroll-container">
      <div class="scroll-content">
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <img src="../../../../assets/img/logos/smgLogo192.png" alt="Logo" />
        <!-- linea 19-->
      </div>
    </div>
</div>
