.separadorBox {
    width: 100%;
    height: 50px;
    background: #1d1d1d;
    overflow: hidden; /* Para ocultar cualquier contenido que desborde */
    position: relative;
}

.scroll-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    animation: scroll 5s linear infinite; /* Animación más suave */
}

.scroll-content img {
    position: relative;
    bottom: 15.1px;
    height: 80px;
    margin-right: 100px; /* Espacio entre las imágenes */
    transition: 0.5s;
}
.scroll-content img:hover {
    transform: scale(1.5);
    transition: 0.5s;
}
/* Definición de la animación */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%); /* Mueve toda la longitud del contenido */
    }
}
