a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}
a:hover{
    background: transparent;
    color: #4fbeff;
    transition: 0.5s;
}
.navbarBox{
    z-index: 2;
    top: 0;
    width: 100%;
    position: fixed;
    background: transparent;
    display: flex;
    height: 58px;
    transition: background-color 0.5s ease; /* Transición suave */
}
.navbarBox.scrolled, .navbarBox.scrolled button {
    background-color: #000000; /* Color de fondo cuando se hace scroll */
}
.navbarBox button{
    display: none;
    margin-left: auto;
    background: transparent;
    padding-right: 30px;
    border: none;
    color: #ffffff;
    font-size: 35px;
    transition: background-color 0.5s ease; /* Transición suave */
}
.navbarBox button:hover{
    color: #a0a0a0;
    transition: 0.5s;
}
.navbarItems{
    display: grid;
    align-items: center;
    overflow: hidden;
}
.desplegarSubtitles{
    display: flex;
    justify-content: center;
    width: 90%;
}
.navbarTitles{    
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.navbarTitles img{
    position: relative;
    bottom: 16px;
    height: 90px;
}
.navbarSubtitles{
    padding: 10px;
    text-decoration: none;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}
.navbarSubtitles:hover{
    color: #a0a0a0;
    transition: 0.5s;
}
@media (max-width: 750px){
    .navbarBox button{
        display: block;
    }
    .desplegarSubtitles.show{
        position: absolute;
        background: #1f1f1f;
        top: 58px;
        width: 200px;
        height: 92vh;
        display: block;
    }
    .desplegarSubtitles.hide{
        display: none;
    }
    a:hover{
        background: #000000;
    }
}