<div class="navbarBox">
    <!--Inicio Item-->
    <div class="navbarItems">
        <div class="navbarTitles">
            <a href="">
                <img src="../../../../assets/img/logos/smgLogo192.png" alt="">
            </a>
        </div>
    </div>
    <!--Fin Item-->
    <div [ngClass]="{'show': menuOpen, 'hide': !menuOpen}" class="desplegarSubtitles">
        <!--Inicio Item-->
        <div class="navbarItems">
            <a href=""><div class="navbarSubtitles">
                Hombre
            </div></a>
        </div>
        <!--Fin Item-->
        <!--Inicio Item-->
        <div class="navbarItems">
            <a href=""><div class="navbarSubtitles">
                Mujer
            </div></a>
        </div>
        <!--Fin Item-->
        <!--Inicio Item-->
        <div class="navbarItems">
            <a href=""><div class="navbarSubtitles">
                Niños
            </div></a>
        </div>
        <!--Fin Item-->
    </div>
    <button (click)="toogleMenu()"><i class="fa-solid fa-bars"></i></button>
</div>