<body>
    <br>
    <div class="detallesBox" *ngIf="mercancia">
        <div class="itemContainer">
            <div class="zoomContainer">
                <img src="{{mercancia.imagenUrl}}" alt="Producto" class="zoomImage" (mousemove)="zoomIn($event)"
                    (mouseleave)="zoomOut()">
                <div class="zoomLens" #zoomLens></div>
            </div>
        </div>
        <div class="itemContainer">
            <h1 class="text-center">{{mercancia.nombre}}</h1>
            <p>{{mercancia.detallesCorto}}</p>
            <p><strong>Tallas: </strong> Talla M, Talla L, Talla XL</p>
            <p><Strong>Precio: </Strong> {{mercancia.precio}} $</p>
            <p class="infoStyle">Disponible para entregas en Quito sin costo adicional. Para envíos a otras provincias,
                se aplicará un costo extra.</p>
            <div class="buttonsContainer">
                <a href="home" class="btn btn-danger buttonStyle d-flex align-items-center justify-content-center">Cancelar <i
                        class="fa-solid fa-ban"></i></a>
                <button class="btn btn-success buttonStyle">Solicitar por Whatsapp <i
                        class="fa-brands fa-whatsapp"></i></button>
            </div>
        </div>
    </div>
    <br>
</body>