body {
    background: #eeeeee;
}

h1 {
    color: #000000;
}

 p {
    font-size: 20px;
}
.espacio{
    position: relative;
    bottom: 24px;
    height: 58px;
    background: #000000;
}
.detallesBox {
    display: flex;
    width: 95%;
    margin: auto;
    background: #ffffff;
    color: #000000;
}
.infoStyle{
    font-size: 12px;
    font-weight: bold;
}
.itemContainer {
    border: 1px solid #000000;
    display: grid;
    width: 50%;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonStyle {
    border: none;
    border-radius: 0;
    margin: 10px;
    height: 70px;
    width: 50%;
    background: #000000;
    font-weight: bold;
    transition: 0.5s;
}
.buttonStyle:hover{
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.zoomContainer {
    position: relative;
    width: 100%;
    margin: auto;
}

.zoomImage {
    cursor:zoom-in;
    width: 100%;
    height: 500px;
}

.zoomLens {
    position: absolute;
    /* Posición absoluta dentro del contenedor */
    border: 2px solid #000;
    /* Borde del cuadro de zoom */
    width: 200px;
    /* Ancho del cuadro de zoom */
    height: 200px;
    /* Altura del cuadro de zoom */
    display: none;
    /* Oculto por defecto */
    background-repeat: no-repeat;
    pointer-events: none;
    /* El cuadro no debe interferir con los eventos del ratón */
}

/*ropa*/
.containerBox {
    display: flex;
    flex-wrap: wrap;
    background: #1a1a1a;
    width: 100%;
}

.containerBox:hover {
    transition: opacity 0.6s ease-in-out;
}

.itemsBox {
    background: #ffffff;
    width: calc(25% - 20px);
    margin: 10px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px #494949;
    overflow: hidden; /* Asegúrate de que el efecto no desborde el contenedor */
}

.itemsBox:hover img {
    transform: scale(0.9);
    border: 3px dashed #000000;
    transition: transform 0.4s ease;
}
.itemsBox img {
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
    transition: transform 0.4s ease, border 0.4s ease;
}
.itemsBox a {
    font-weight: bold;
    background: #000000;
    border: none;
    border-radius: 0;
    margin: 10px;
    transition: 0.5s;
}
.itemsBox a:hover {
    transform: scale(1.1);
    background: #161616;
    /* ejex ejey borrosidad alcance color*/
    box-shadow: 0px 0px 30px 0px #000000;
    transition: 0.5s;
}
.cargarMas{
    margin-top: 30px;
    border-radius: 0;
    background-color: #000000;
    border: none;
    font-weight: bold;
}
.cargarMas:hover{
    transform: scale(1.1);
    background: #161616;
    /* ejex ejey borrosidad alcance color*/
    box-shadow: 0px 0px 30px 0px #000000;
    transition: 0.5s;
}
@media(max-width:900px) {
    .itemsBox {
        background: #ffffff;
        width: calc(33% - 20px);
        margin: 10px;
    }
}
@media (max-width: 750px) {
    .itemsBox {
        background: #ffffff;
        width: calc(50% - 20px);
        margin: 10px;
    }
    .detallesBox {
        display: grid;
    }

    .itemContainer {
        width: 100%;
    }
    .zoomLens{
        display: none;
        overflow: hidden;
    }
    .zoomImage{
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 500px) {
    .itemsBox {
        background: #ffffff;
        width: calc(100% - 20px);
        margin: 10px;
    }
    .buttonsContainer{
        display: grid;
    }
    .buttonStyle{
        width: 100%;
        margin: 0px;
    }
}