<body>
    <br>
    <div class="espacio"></div>
    <div class="detallesBox" *ngIf="mercancia">
        <div class="productosContainer">
            <div class="imagesAll">
                <!-- Agrega el evento (click) -->
                <img *ngFor="let image of idImagesMercancia" class="productosVariados" [src]="image" alt="Producto"
                    (click)="onImageClick(image)">
            </div>
            <div class="zoomContainer">
                <!-- La imagen que se mostrará inicialmente y cambiará al hacer clic en las miniaturas -->
                <img class="productoInicial" [src]="selectedImage" alt="Producto" class="zoomImage"
                    (mousemove)="zoomIn($event)" (mouseleave)="zoomOut()">
                <div class="zoomLens" #zoomLens></div>
            </div>
        </div>
        <div class="itemContainer p-3">
            <h1 class="text-center">{{mercancia.nombre}}</h1>
            <p>{{mercancia.detallesCompleto}}</p>
            <p><strong>Tallas: </strong> Talla M, Talla L, Talla XL</p>
            <p><Strong>Precio: </Strong> {{mercancia.precio}} $</p>
            <!--<p class="infoStyle">Disponible para entregas en Quito sin costo adicional. Para envíos a otras provincias,
                se aplicará un costo extra.</p>-->
            <div class="buttonsContainer">
                <a href="https://wa.me/593986396299?text=Hola%20SMG,%20deseo%20este%20producto: {{mercancia.nombre}}"
                    target="_blank"
                    class="btn btn-success buttonStyle d-flex align-items-center justify-content-center mb-2">Solicitar
                    por
                    Whatsapp <i class="fa-brands fa-whatsapp ms-2"></i></a>
                <a href="home"
                    class="btn btn-danger buttonStyle d-flex align-items-center justify-content-center">Cancelar <i
                        class="fa-solid fa-ban ms-2"></i></a>
            </div>
        </div>
    </div>
    <br>
    <app-separador-animado></app-separador-animado>
    <!--Mercaderia-->
    <section id="mercaderia">
        <br>
        <h1 class="text-center mb-1">Sigue Revisando Nuestros Diseños</h1>
        <br>
        <div class="container-fluid">
            <div class="containerBox">
                <div class="itemsBox text-center" *ngFor="let mercancia of displayedMercaderia">
                    <img src="{{mercancia.imagenUrl}}" alt="">
                    <p><strong>{{mercancia.nombre}}</strong></p>
                    <p><strong>Precio: </strong>$ {{mercancia.precio}}</p>
                    <a class="btn btn-primary" href="home/dashboard/detalles/{{mercancia.id}}">Más Detalles
                    </a>
                </div>
            </div>
        </div>
        <div class="container p-2 text-center">
            <button id="contactanos" class="btn btn-danger cargarMas" (click)="loadMoreMercaderiaData()">Cargar
                Más</button>
        </div>
    </section>
    <br>
</body>