<div class="footer">
    <div class="footerBox">
        <div class="footerItems">
            <a href="home/dashboard">
                <img src="/assets/img/logos/logoSMG.webp" alt="">
            </a>
        </div>
        <div class="footerphoneText">
            <div class="footerItems">
                <a href="home/dashboard#inicio">Inicio <i class="fa-solid fa-house-user"></i></a>
                <a href="home/dashboard#mercaderia">Mercadería <i class="fa-solid fa-shirt"></i></a>
                <a href="home/dashboard/nosotros">Nosotros <i class="fa-solid fa-user"></i></a>
                <a href="home/dashboard/nosotros#contactanos">Contáctanos <i class="fa-solid fa-phone"></i></a>
            </div>
            <div class="footerItems">
                <p href="">Redes Sociales</p>
                <a href="https://www.instagram.com/smg_ropa_deportiva1999/?utm_source=ig_web_button_share_sheet"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="https://www.tiktok.com/@smgropadeportiva_1999?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok"></i> Tik Tok</a>
                <a href="https://wa.me/593986396299?text=Hola%20SMG,%20quisiera%20saber%20m%C3%A1s%20sobre%20sus%20productos!!!!" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="text-center">Todos los derechos reservados <strong>®SMG</strong></p>
</div>