a{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 500;
}
a:hover{
    color: #a0a0a0;
    transition: 0.5s;
}
img{
    display: block;
    margin: 0 auto;
    width: 200px;
}
.footer{
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #000000;
}
.footerBox{
    padding: 10px;
    display: flex;
    width: 100%;
}
.footerphoneText{
    width: 100%;
    display: flex;
}
.footerphoneText .footerItems{
    width: 100%;
}
.footerItems{
    display: grid;
    justify-content: center;
    width: 33%;
    font-family: "Roboto Condensed", sans-serif;
}
.footerItems{
    font-weight: bold;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.line{
    background: #ffffff;
    height: 1px;
}
p{
    color: #ffffff;
    font-size: 18px;
}
@media (max-width:550px){
    .footerBox{
        display: grid;
    }
    .footerItems{
        width: 100%;
    }
    p{
        font-size: 15px;
    }
    a{
        font-size: 15px;
        padding: 10px;
    }
    img{
        width: 150px;
    }
}
