<div class="footer">
    <div class="footerBox">
        <div class="footerItems">
            <a href="">
                <img router-link="" src="../../../../assets/img/logos/smgLogo512.png" alt="">
            </a>
        </div>
        <div class="footerphoneText">
            <div class="footerItems">
                <a href="">HOMBRES</a>
                <a href="">MUJERES</a>
                <a href="">NIÑOS</a>
            </div>
            <div class="footerItems">
                <a href="">Redes Sociales</a>
                <a href=""><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href=""><i class="fa-brands fa-tiktok"></i> Tik Tok</a>
                <a href=""><i class="fa-brands fa-facebook"></i> Facebook</a>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="text-center">Todos los derechos reservados <strong>®SMG</strong></p>
</div>